<ion-header>
    <topbar></topbar>
</ion-header>

<ion-content padding>
    <div id = "scale info"></div>
    <div class="container">
        <ul class="flex-container wrap">
            <ion-card *ngFor="let array of all_arrays" class="flex-item" (click)="openScaleDescriptionPage(array[0])">
                <ion-card-content>
                    <ion-card-title>
                        {{array[0]}}
                    </ion-card-title>
                    <p class="printed_notes" *ngFor="let note of array">
                        {{note}}
                    </p>

                </ion-card-content>
            </ion-card>
        </ul>
    </div>
</ion-content>