<ion-toolbar>
    <ion-buttons end class="toolbar-button" (click)="goToHomePage()">
        <button ion-button icon-only color="dark" clear>Home</button>
    </ion-buttons>

    <ion-buttons end class="toolbar-button" (click)="goToFinderPage()">
        <button ion-button icon-only color="dark" clear>Finder</button>
    </ion-buttons>

    <ion-buttons end class="toolbar-button" (click)="goToScalesGatewayPage()">
        <button ion-button icon-only color="dark" clear>Scales</button>
    </ion-buttons>

    <ion-buttons end class="toolbar-button" (click)="goToTunerPage()">
        <button ion-button icon-only color="dark" clear>Tuner</button>
    </ion-buttons>

    <ion-buttons start class="toolbar-toggle-button">
        <button ion-button icon-only menuToggle>
          <ion-icon name="ios-menu-outline" ></ion-icon>
      </button>
    </ion-buttons>


</ion-toolbar>