page-home {
    @media screen and (min-width: 0px) and (max-width: 575px) {
        background-color: black;
        .toolbar-button {
            visibility: hidden;
        }
    }
    @media screen and (min-width: 575px) and (max-width:970px) {
        .toolbar-button {
            visibility: hidden;
        }
    }
    @media screen and (min-width: 970px) {
        .toolbar-button {
            visibility: visible;
        }
        .toolbar-toggle-button {
            visibility: hidden;
        }
    }
}