<!-- about me  -->

<section class="section" id="ABOUT">

    <div class="container">

        <div class="row">

            <div class="col-md-10 col-md-offset-1">

                <!-- About us Title & Description -->
                <div class="section-title">

                    <h2>About Me</h2>
                    <p>
                    </p>

                </div>

            </div>

        </div>

    </div>

    <div class="choose-us-wraper">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <!-- About iphone -->
                    <div class="about-iphone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>